article
  padding: 80px 0
  h1, h2
    margin-top: 48px
    margin-bottom: 12px
  h1
    padding-top: 80px
  h2
    border-top: 2px dashed rgb(var(--ll))
    padding-top: 26px
  h3
    margin-top: 24px 
    margin-bottom: 8px
  p
    margin-top: 8px
    margin-bottom: 8px
  h1, h2, h3, h4, p, ul, ol
    padding-left: 48px
    padding-right: 48px

.toc
  position: absolute
  width: calc(calc(100vw - 700px) / 2)
  max-width: 240px
  transform: translate(-100%, calc(50vh - 50%))
  &-link
    padding: 12px 24px
    transition: background .5s
    display: block
    &:hover 
      background: rgba(var(--ll), .5)
      transition: background 0s